body{
    
    font-family: 'Poppins', sans-serif;
}

button{
    width:120px;
    height: 40px;
    border-radius: 20px;
    font-weight: 700;
    background-color:orange;
}
a{
    text-decoration: none;
}
#half-with-left{
     margin-top: 100px;
     margin-left: 50px;
}
#half-with-right{   
    width:40%;
    margin-left: 50px; 
}
#first-container{
    margin: 50px;
    display: flex;

}
span{
    color: crimson;
}
#imag1{
    height: 550px;
}